<div class="container">
	{{!-- First section conditionally displays if localstorage contains existing travel destination --}}
	<section>

	</section>

	{{!-- second section displays form --}}
	<section id="form-section">
		<form>
			<div class="form-group">
				<label for="InputName">Name</label>
				<input type="Name" class="form-control" id="InputName" aria-describedby="emailHelp"
					placeholder="Enter Name">

			</div>
			<div class="form-group">
				<label for="avatar">Choose a profile picture:</label>

				<input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" multiple>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Willing to go somewhere you don't speak the
					language</label>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</section>
</div>