<header>
    <div class="site-name">travelligence</div>
    <div id="gallery-container">
        <div id="gallery">
            <img src="/images/gallery/01.jpg" alt="gallery01" class="gallery-image">
            <img src="/images/gallery/02.jpg" alt="gallery02" class="gallery-image">
            <img src="/images/gallery/03.jpg" alt="gallery03" class="gallery-image">
            <img src="/images/gallery/04.jpg" alt="gallery04" class="gallery-image">
            <img src="/images/gallery/05.jpg" alt="gallery05" class="gallery-image">
            <img src="/images/gallery/06.jpg" alt="gallery06" class="gallery-image">
            <img src="/images/gallery/07.jpg" alt="gallery07" class="gallery-image">
            <img src="/images/gallery/08.jpg" alt="gallery08" class="gallery-image">
            <img src="/images/gallery/09.jpg" alt="gallery09" class="gallery-image">
            <img src="/images/gallery/10.jpg" alt="gallery10" class="gallery-image">
        </div>
        <h1>
            Let’s find out<br>your next travel destination!
        </h1>
    </div>
</header>

<div class="container">
    <h2>
        Where in the world should you travel after quarantine ends?<br>
        Answer a few questions about yourself to find out!
    </h2>

	{{!-- First section conditionally displays if localstorage contains existing travel destination --}}
	<section>

	</section>

	{{!-- second section displays form --}}
	<section id="form-section">
		<form id="travel-form" action="api/travelligence" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name" class="label"><ion-icon name="airplane"></ion-icon>First Name</label>
				<input type="text" class="form-control" id="name" placeholder="Enter First Name" name="name">
			</div>

			<div class="form-group">
                <label for="interests-images" class="label"><ion-icon name="airplane"></ion-icon>Choose up to 3 photos which show your interest</label>
                <input type="file" id="interests-images" name="interests-images" accept="image/png, image/jpeg" multiple>
                <p class="attention">* The image size must be less than 4MB and dimensions greater than 50x50 pixels.</p>
                <div id="uploaded-images"></div>
			</div>

			<div class="form-check">
                <input type="checkbox" class="form-check-input" id="lang-pref" name="lang-pref" value="yes">
				<label class="form-check-label" for="lang-pref">Willing to go somewhere you don't speak the language?</label>
			</div>

			<div class="form-check">
                <input type="checkbox" class="form-check-input" id="culture-pref" name="culture-pref" value="yes">
				<label class="form-check-label" for="culture-pref">Would you prefer to explore your own culture?</label>
			</div>

			<button id="form-submit" type="submit" class="btn btn-submit">
                <ion-icon name="navigate"></ion-icon>
                Find Out Your Destination
            </button>
		</form>
	</section>
</div>

<footer>
    <p class="copyright">2020 Travelligence. All Rights Reserved.</p>
    <a class="link" href="/auth/github" target="_blank" rel="noopener">
        <ion-icon name="log-in-outline"></ion-icon>
        Dashboard Login
    </a>
</footer>

{{#if countryData}}
    <div id="result-modal" class="modal">
        <h2 class="modal-header">
            <ion-icon name="navigate"></ion-icon>
            Your Next Travel Destination
        </h2>
        <p class="modal-name">
            {{countryData.countryName}}
        </p>
        <img class="modal-photo" src="{{countryData.countryImage}}">
        <button class="btn btn-close modal-close">Close</button>
        <ion-icon name="close-circle" class="close-icon modal-close"></ion-icon>
    </div>
    <div class="dark-bg modal-close"></div>
    <script src="/js/modal.js"></script>
{{/if}}