<form id="trip-form" method="POST">
    <label for="user-name">First Name</label>
    <input type="text" id="user-name" name="userName">
    <button type="submit" id="submit-btn">Submit</button>
</form>

<p>{{lang}}</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/lang-culture.js"></script>
